:root {
    --color-white: #FFFFFF;
    --color-blue: #0A66C2;
    --color-grey: #838383;
    --color-grey-darker: #83838390;
    --color-danger: #820101;
    --color-text: #E7E7E7;
    --color-background: #202020;

    --border-radius: 6px;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


ul {
    list-style: none;
}


body {
    background-color: var(--color-background);
    color: var(--color-text);
}


h1 {
    color: var(--color-white);
}


main {
    padding: 2em;
}


.section {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 4em;
}


.button {
    background-color: var(--color-blue);
    font-weight: bold;
    color: var(--color-white);
    padding: 0.5em 1em;
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    &::first-letter{
        text-transform: uppercase;
    }
    &.muted {
        background-color: var(--color-grey);
    }
    &.delete {
        background-color: var(--color-danger);
    }
}


.input-container {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    label {
        color: var(--color-grey);
        display: inline-block;
        &::first-letter {
            text-transform: uppercase;
        }
    }
    .hint {
        color: var(--color-grey-darker);
        font-size: 0.8em;
    }
}


.input {
    background-color: var(--color-background);
    border: 1px solid var(--color-grey);
    color: var(--color-grey);
    padding: 0.5em;
    outline: none;
    border-radius: var(--border-radius);
    &:focus {
        border: 1px solid var(--color-text);
        color: var(--color-text);
    }
}


.form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.form-group {
    display: flex;
    width: 100%;
    gap: 1em;
    & > * {
        flex: 1;
    }
}


textarea {
    overflow: auto;
    resize: vertical;
}


#preprompt-list-container {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}


#prePromptList {
    display: flex;
    flex-direction: column;
    gap: 1em;
    #empty-preprompt-list {
        text-align: center;
        padding: 6em 0em;
        color: var(--color-grey);

    }
}
.prePrompt-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    border: 1px solid var(--color-grey);
    border-radius: var(--border-radius);
    color: var(--color-grey);
    padding: 1em;
    & > div {
        display: flex;
        gap: 0.5em;
    }
    textarea.input {
        border: none;
        flex: 1;
    }
}


.config-header {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}


#notification {
    padding: 1em;
    border: 1px solid var(--color-blue);
    background-color: var(--color-background);
    border-radius: var(--border-radius);
    position: fixed;
    bottom: 1em;
    right: 1em;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .config-header {
        flex-direction: column;
        align-items: end;
    }

    .form-group {
        flex-direction: column;
    }

    .prePrompt-item {
        flex-direction: column;
        gap: 1em;
        align-items: start;
    }
}