
:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-blue: #0a66c2;
    --color-light-grey: #eae6df70;
    --color-text-muted: #757575;
}

.loading-icon {
    color: var(--color-text-muted);
}

.comments-comment-entity {
    position: relative;
}

//  linkedIn class new post button(the blue pill)
.feed-new-update-pill {
    position: relative;
    z-index: 50;
}

.easy-comment-popup {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 360px;
    margin: 0 1em;
    position: absolute;
    left: 0%;
    right: 0%;
    top: calc(100% + 0.5em);
    z-index: 5;
    overflow: hidden;
    border-radius: 16px;
    background: var(--color-white);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    
    &.hide {
        display: none;
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        position: relative;
        z-index: 1;
        p {
            font-weight: 500;
            font-size: 1.1em;
            text-transform: capitalize;
            color: var(--color-text-muted);
        }

        .close-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 40px;
            &:hover {
                background: var(--color-light-grey);
            }
        }
    }

    .content {
        // position: relative;
        overflow-y: auto;
        // z-index: 10;
    }

    .easy-state-message-container{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        inset: 0;
    }

    .easy-suggestion {
        padding: 1em;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
            background: var(--color-light-grey);
        }
    }
}

.comments-comment-box--cr {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    position: relative;
    
    .easy-comment-btn-container {
        display: flex;
        justify-content: flex-end;
        position: relative;
    }
  
    .easy-comment-btn {
        display: inline-block;
        padding: 0.5em;
        border: 1px solid var(--color-blue);
        border-radius: 16px;
        background: var(--color-light-grey);
        color: var(--color-black);
        font-weight: 600;
        transition: all 0.2s ease-in-out;
        &::first-letter{
            text-transform: uppercase;
        }
        &:hover {
            background: var(--color-blue);
            color: var(--color-white);
        }
    }
}

.loading-icon {
    stroke: var(--color-text-muted);
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}







//////////////////////////////////////////////
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}




body {
    background-color: #202020;
    color: #e7e7e7;
}

h1 {
    color: white;
}
main {
    padding: 2em;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 4em;
}

.button {
    background-color: #0a66c2;
    font-weight: bold;
    color: white;
    padding: 0.5em 1em;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    &::first-letter{
        text-transform: uppercase;
    }
    &.muted {
        background-color: #838383;
    }
    &.delete {
        background-color: #820101;
    }
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    label {
        color: #838383;
    }
}

.input {
    background-color: #202020;
    border: 1px solid #838383;
    color: #838383;
    padding: 0.5em;
    outline: none;
    border-radius: 6px;
    &:focus {
        border: 1px solid #e7e7e7;
        color: #e7e7e7;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

textarea {
    overflow: auto;
    resize: vertical;
}

#preprompt-list-container {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}


#prePromptList {
    display: flex;
    flex-direction: column;
    gap: 1em;
    #empty-preprompt-list {
        text-align: center;
        padding: 6em 0em;
        color: #838383;

    }
    .prePrompt-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2em;
        border: 1px solid #838383;
        color: #838383;
        border-radius: 6px;
        padding: 1em;
        border-radius: 6px;
        & > div {
            display: flex;
            gap: 0.5em;
        }
        textarea.input {
            border: none;
            flex: 1;
        }
    }
}
.config-header {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

#notification {
    padding: 1em;
    border: 1px solid #0a66c2;
    background-color: #202020;
    border-radius: 6px;
    position: fixed;
    bottom: 1em;
    right: 1em;
}